@font-face {
  font-family: "GilroyLight";
  src: url(/fonts/gilroy/Gilroy-Light.ttf);
}
@font-face {
  font-family: "GilroyRegular";
  src: url(/fonts/gilroy/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "GilroyMedium";
  src: url(/fonts/gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "GilroyBold";
  src: url(/fonts/gilroy/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "GilroyHeavy";
  src: url(/fonts/gilroy/Gilroy-Heavy.ttf);
}

$red-color: #FF3459;
$elipse-color: #332F65;
$input-color: #D7D7D7;
$footer-color: #343740;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1.5vh 28vh 0 28vh;
  background-color: #242731;
  overflow-y: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 56px;
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  padding-left: 4vh;
}
.logo_container {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.logo_container p {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 14px;
  padding: 0;
  font-family: "GilroyRegular";
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
}
.logo_container p span {
  font-family: "GilroyHeavy";
}
.data_time {
  display: flex;
  gap: 18px;
  font-family: "GilroyMedium", serif;
  color: #fff;
}
.data_time div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #302E5A;
  border-radius: 10px;
  height: 40px;
  width: 141px;
}
.data_time p {
  margin: 0;
  line-height: 14px;
}

.webinar_container {
  color: #fff;
  margin-top: 102px;
  width: 30em;
}

.webinar_container {
  grid-area: 1 / 1 / 2 / 2;
}
.webinar_bonuses {
  width: 30em;
  grid-area: 2 / 1 / 3 / 2;
}
.form_container {
  margin-left: 135px;
  grid-area: 1 / 2 / 3 / 3;
}
.webinar_sticker {
  width: 120px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.9px;
  background-color: #4252D1;
  border-radius: 5px;
  font-family: "GilroyMedium", serif;
  line-height: 24px;
}
.webinar_title {
  margin: 0;
  font-family: "GilroyBold", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 70px;
  color: $red-color;
  line-height: 94.33px;
}
.label_container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.label {
  width: 7em;
  height: 2.5em;
  transform: rotate(-3.51deg);
  border-radius: 5px;
  background-color: $red-color;
  padding: 5px 0 0 10px;
}
.label h2{
  font-family: "GilroyBold", serif;
  text-transform: uppercase;
  margin: 0;
  transform: rotate(3.51deg);
  line-height: 28.96px;
}
.label_container p {
  font-family: "GilroyMedium", serif;
  margin: 0;
  font-size: 22px;
  line-height: 26.19px;
}
.webinar_description {
  margin: 20.5px 0 0 0;
  font-family: "GilroyRegular", serif;
  font-size: 18px;
  line-height: 26.64px;
  letter-spacing: 1px;
}
.webinar_description span {
  font-family: "GilroyMedium", serif;
}

.column {
  display: flex;
  flex-direction: column;
}
.column > *{
  margin: 0;
}
.webinar_bonuses {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 60px;
  color: #fff;
}
.webinar_bonuses > div {
  display: flex;
}
.mentor_desc {
  font-family: "GilroyRegular", serif;
  margin-left: 2vh;
  gap: 1.5px;
}
.mentor_desc h3{
  text-transform: uppercase;
  font-family: "GilroyBold", serif;
  font-size: 15px;
  line-height: 15.6px;
}
.mentor_desc h3 span{
  color: #4152d1;
}
.mentor_desc p {
  font-size: 14px;
  line-height: 19.2px;
}
.gift_box {
  height: 42px;
}
.gift_desc {
  margin-left: 3vh;
  font-family: "GilroyRegular", serif;
  font-size: 14px;
  line-height: 17.76px;
  white-space: pre-line;
  gap: 1.5px;
}
.gift_desc h3{
  font-family: "GilroyBold", serif;
}

.form_container {
  background-color: #303A53;
  border-radius: 10px;
  width: 366px;
  height: 474px;
  margin-top: 92px;
  padding: 50px 58px;
}
.form {
  color: #fff;
  font-family: "GilroyBold", serif;
}
.form_title {
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 25.99px;
  font-size: 22px;
}
.form_title span{
  color: $red-color;
}
.form_datas{
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
}

.phone-input-container {
  display: flex;
}

#country_code {
  color: #fff;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 8vh;
  background: #272d3d;
}
input[data-type="phone"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 13px 0 14px 0;
}

.input {
  width: 100%;
  height: 3.8em;
  background: #272D3D;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 13px 0 14px 20px;
}
.input::placeholder {
  color: $input-color;
  padding: 13px 0 14px 20px;
}
.input:focus {
  color: $input-color;
  padding: 13px 0 14px 20px;
}
.btn_signup {
  width: 100%;
  height: 3.8em;
  background-color: $red-color;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "GilroyBold", serif;
  cursor: pointer;
}
.form_text {
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 12px;
  opacity: 0.5;
  font-family: "GilroyMedium", serif;
}
.form_text a {
  color: #fff;
}

.my-text {
  position: absolute;
  bottom: -60px;
  left: 0;
  margin: 0;
  color: #242731;
  font-family: "GilroyBold", serif;
  font-size: 135px;
  -webkit-text-stroke: 1px $footer-color;
  text-stroke: 1px $footer-color;
  text-transform: uppercase;
  line-height: 158.46px;
}

.skill_logo {
  position: absolute;
  width: 60px;
  height: 70px;
  right: 0;
}
.small_elipse {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  right: 0;
}

.skill_html {
  width: 88px;
  height: 88px;
  top: 241px;
  right: 38px;
}
.html__elipse {
  background-color: #F16529;
  width: 8px;
  height: 8px;
  right: 30px;
  top: 260px;
}

.skill_css {
  right: 133.5px;
  top: 342px;
  width: 70px;
  height: 85px;
}
.css__elipse {
  right: 144px;
  top: 338px;
  background-color: #2965F1;
}

.skill_js {
  width: 66px;
  height: 73px;
  right: 36px;
  top: 404px;
}
.js__elipse {
  right: 22px;
  top: 424px;
  background-color: #F0BE25;
  width: 8px;
  height: 8px;
}

.skill_sublime {
  width: 64px;
  height: 64px;
  right: 153px;
  top: 484px;
}
.sublime_elipse {
  right: 155px;
  top: 471px;
  background-color: #FF9800;
}

.skill_vscode {
  right: 66px;
  top: 547px;
}
.vscode_elipse {
  right: 56px;
  top: 608px;
  background-color: #48AEF3;
}


.elipse {
  position: absolute;
  z-index: -1;
  box-shadow: 0px 0px 100px 100px $elipse-color;
  background: $elipse-color;
  border-radius: 50%;
}
.left_elipse {
  top: 100px;
  left: 70px;
  width: 200px;
  height: 200px;
  opacity: 50%;
}
.right_elipse {
  top: -30px;
  right: -190px;
  width: 600px;
  height: 600px;
  opacity: 70%;
}


@media (max-width: 1440px) {
  body {
    padding: 1.5vh 20vh 0 20vh;
  }
  .webinar_title {
    font-size: 50px;
  }
  .label_container p {
    font-size: 16px;
  }
  .form_container {
    width: 300px;
    height: 420px;
    padding: 40px 48px;
  }
  .form_title {
    font-size: 18px;
  }
  .my-text {
    font-size: 128px;
  }
}

@media (max-width: 1200px) {
  body {
    padding: 1.5vh 15vh 0 15vh;
  }
  header {
    padding: 24px 40px;
  }
  .label_container p {
    font-size: 15px;
  }
  .form_container {
    margin-left: 65px;
    width: 280px;
    padding: 35px 40px;
  }
  .my-text {
    font-size: 107px;
  }
}

@media (max-width: 1024px) {
  body {
    padding: 1.5vh 10vh 0 10vh;
  }
  header {
    align-items: flex-start;
    padding: 16px 24px;
  }
  .logo_container p {
    font-size: 18px;
  }
  .data_time div {
    width: 120px;
  }
  .webinar_container {
    margin-top: 80px;
    width: 20em;
  }
  .webinar_bonuses {
    width: 20em;
  }
  .webinar_title {
    font-size: 50px;
    line-height: 70px;
  }
  .label_container p {
    font-size: 14px;
  }
  .webinar_description {
    font-size: 11px;
  }
  .mentor_desc h3 {
    font-size: 12px;
  }
  .mentor_desc p {
    font-size: 10px;
  }
  .column > * { 
    font-size: 10px;
  }
  .form_container {
    margin-left: 15px;
    width: 250px;
    padding: 30px 32px;
  }
  .form_title {
    width: 200px;
  }
  .form_text{
    font-size: 11px;
  }
  .my-text {
    font-size: 91px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 26px 16px 60px 16px;
  }
  header {
    padding: 0;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 0.1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    padding-top: 36px;
    padding-left: 0;
  }

  .logo_container > img {
    width: 28px;
  }
  .logo_container > p {
    font-size: 10px;
  }
  .data_time div {
    width: 84px;
    height: 24px;
  }
  .data_time p {
    font-size: 8px;
  }
  .webinar_sticker {
    width: 89px;
    height: 24px;
    font-size: 12px;
  }
  .webinar_sticker img {
    width: 12px;
    height: 12px;
  }
  .webinar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
  }
  .webinar_container > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .label {
    height: 2em;
    width: 4.8em;
  }
  .label h2 {
    font-size: 16px;
  }
  .webinar_description {
    text-align: center;
  }
  .webinar_bonuses { 
    align-items: center;
    flex-direction: column-reverse;
    grid-area: 3 / 1 / 4 / 2;
  }
  .webinar_bonuses > div { 
    width: 80%;
  }
  .gift_desc {
    margin-left: 5vh;
  }
  .gift_desc h3 {
    font-size: 14px;
  }
  .mentor_desc h3 {
    font-size: 14px;
  }
  .form_container { 
    margin-top: 20px;
    width: 100%;
    grid-area: 2 / 1 / 3 / 2;
  }
  .form_title {
    margin: 0 auto;
  }
  .btn_signup {
    margin: 0 auto;
    width: 80%;
    background-color: #0048FF;
  }
  .right_elipse {
    top: 500px;
    right: -320px;
  }
  .left_elipse {
    display: none;
  }
  .skill_logo {
    display: none;
  }
  .small_elipse {
    display: none;
  }
  .my-text {
    display: none;
  }
}